README.MD

{{- if eq .chezmoi.os "windows" }}
.bashrc
.zshrc
.p10k.zsh
{{- end }}

{{- if ne .chezmoi.os "windows" }}
.wezterm.lua
Documents/PowerShell
scoopfile.json
{{- end }}

{{- if eq .chezmoi.osRelease.versionID "26.04" }}
.zshrc
.zsh_history
.config/zsh/**
.p10k.zsh
.bashrc
{{- end }}