#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[ui]
log-word-wrap = true
color = "auto"


{{- if eq .chezmoi.os "windows" }}
    editor = "code --wait"
{{- else if eq .chezmoi.os "linux" }}
    editor = "micro"
{{- end }}

[user]
name = "{{ .git.name }}"
email = "{{ if has .chezmoi.hostname .git.use_work_identity_on_hosts }}{{ .git.work_email }}{{ else }}{{ .git.email }}{{ end }}"

[aliases]
l = ["log"]
s = ["status"]
d = ["describe"]

[revset-aliases]
{{- if eq .chezmoi.os "windows" }}
    HEAD = "@"
{{- end }}

[diff]
{{- if eq .chezmoi.os "windows" }}
	tool = "code --wait"
{{- end }}
